.profile__info {
    display: grid;
    grid-template-columns: minmax(min-content, max-content) minmax(min-content, max-content);
    row-gap: 16px;
    column-gap: 18px;
    align-items: baseline;
}

@media screen and (max-width: 944px) {
    .profile__info {
        gap: 10px;
    }
}

@media screen and (max-width: 621px) {
    .profile__info {
        padding: 22.25px 0 0 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 10px;
        row-gap: 14px;
        justify-content: center;
    }
}