.footer__copyright {
    font-family: 'Inter', Arial, sans-serif;
    font-size: 18px;
    line-height: 1.2;
    margin: 0;
    color: #545454;
}

@media screen and (max-width: 621px) {
    .footer__copyright {
        min-width: 282px;
    }
}