.popup__form {
    max-width: 430px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    max-height: 330px;
    padding: 34px 36px 37px;
    box-sizing: border-box;
    grid-column: 1;
    grid-row: 2;
    cursor: default;
}

@media screen and (max-width: 621px) {
    .popup__form {
        max-width: 282px;
        max-height: 322px;
        padding: 25px 22px;
    }
}