.header {
    min-width: 880px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    padding: 0 0 41px 0;
    border-bottom: 1px solid #545454;
}

@media screen and (max-width: 944px) {
    .header {
        min-width: 581px;
    }
}

@media screen and (max-width: 621px) {
    .header {
        min-width: 100%;
        padding: 0 0 31.6px 0;
    }
}